<h1>List of the article available</h1>
<p>
  <%= link_to 'create a new article', new_article_path %>
</p>
<table>
  <tr>
  <th>title</th>
  <th>description</th>
  </tr>
  <% @articles.each do|t| %>
  <tr>
  <td> <%=t.title %></td>
  <td> <%=t.description%></td>
  <td><%= link_to 'show', article_path(t) %></td>
  <td><%= link_to 'edit', edit_article_path(t) %></td>
  <td><%= link_to 'destroy',article_path(t), method: :delete, data: {confirm: "Are you sure?"}  %> </td>
  <%end%>
  
  </tr>
  
</table>